@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
.hover-raise {
  transition: transform 0.3s ease-in-out;
}

.hover-raise:hover {
  transform: scale(1.05);
  cursor: pointer;
}
